@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --primary-color:#39395f;
    --light-green:#416a59;
    --dark-green: #183a1d;
    --brown-black: #2d2d2d;
    --clean-green: #397754;
    --success-color: #52ab98;
    --light-white: #ffffff;
    --dark-blue: #2b6777;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 65.2%;
}
.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .6);
    /* background-color: #c8d8e4; */
    position: relative;

}
.logo{
    font-size: 22px;
    letter-spacing: 2px;
    font-family: sans-serif;
    cursor: pointer;
    color: #001;
    font-weight: 500;
}
.logo i{
    letter-spacing: 1px;
}
.navMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
}
.navMenu li a{
    padding: 1rem;
    font-size: 1.9rem;
    font-family: sans-serif;
}
.humbburgar div{
    width: 25px;
    background-color: #111;
    margin: 5px;
    height: 3px;
    cursor: pointer;
   
}
.container{
    width: 90%;
    color: var(--brown-black);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
}
form{
    font-size: 1.5rem;
    background: transparent;
}

.sign-up{
    transform: translateY(10%);
}
.signup{
    transform: translateY(20%);
}

.signup,
.login,
.log-in{
    text-align: left;
    left: 50%;
    padding: 0 30%;
}

.log-in{
    padding: 2rem 30%;
}

.login input{
    font-size: 1.5rem;
}
.signup-btn,
.login input,
.signup input,
.signup input[type='text'],
.login input[type='text']{
    border: none;
    outline: none;
    padding: .5rem;
    font-size: 1.5rem;
    color: #001;
    border-bottom: 3px solid #8611;
}

.signup input[type='submit'],
.login input[type='submit']{
    margin: 1.2rem 0;
    padding: 1rem 10rem;
    cursor: pointer;
    background-color:var(--clean-green);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    font-size: 1.5rem;
    color: var(--light-white);
}
.input-btn{
    padding-top: 2rem;
}










/* home */

h1.hero{
    font-size: 3rem;
    color: var(--brown-black);
    padding: 0 0 2rem 0;
}
p.hero-p{
    /* transform: translateY(-20%); */
    font-size: 1.8rem;
    color: #001;
}